/* For Fonts */


/* For Selectors */
body {
    margin: 0;
}


#front, #back {
    position: absolute;
    display: flex;
    border-radius: 30px;
}

#front {
    background-color: skyblue;
    transition: 1.5s;
    z-index: 1;
}

#image_div { 
    display: flex;
    align-items: center;
    justify-content: center;
}

#information_div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#information_div > p {
    margin: 0;
    font-size: 4vmin;
}

#back {
    background-color: orange;
    transition: 1.5s;
    z-index: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border-top: 1px solid black;
}

footer > p {
    margin: 0;
    font-size: 2vmin;
}